.container {
  margin: 5% 35%;
  padding: 1%;
  text-align: center;
  background-color: rgb(216, 216, 216);
}

.username:hover {
  color: yellow;
}

.password:hover {
  color: pink;
}

select {
  padding: 4px 8px;
  border-radius: 5px;
}

select:active {
  color: red;
}

button:hover {
  color: blue;
}